* {
  font-family: "Roboto";
  background-color: #1f2937;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e5e7eb;
  font-size: 18px;
}

.header-logo {
  padding-left: 24px;
  padding-top: 24px;
  color: #f9faf8;
  align-self: center;
  font-size: 24px;
}

.header-link {
  padding: 24px;
}

.title {
  display: flex;
  margin: 25px;
}

.title-primary {
  font-size: 48px;
  color: #f9faf8;
}

.title-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.title-button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 64px;
  font-size: 24px;
  padding: 24px;
}

.title-image {
  margin: 25px;
}
